@font-face {
    font-family: 'Bangers';
    src: url('../fonts/Bangers-Regular.ttf') format('truetype');
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(1.2rem, 2vw, 1.875rem);
    margin: 0;
    padding-top: 1vh;
    min-height: 100vh;
    background-image: url('/static/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem 2rem; 
    justify-content: center; 
    padding-top: 4rem; 
    width: 90%;
    margin: 0 auto;
}

.categoryPickerBtn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(0.6rem, 2vw, 1.5rem);
    color: #cce6ff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
    height: 10vh;
    width: 10vw;
    min-width: 150px;
    border-radius: 0.75rem;
    border: 2px solid #005f80;
    background: linear-gradient(45deg, #007a9c, #00294f);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 200, 255, 0.6);
    transition: font-size 0.2s, box-shadow 0.3s, border 0.3s, background 0.3s;
}

.module-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem 2rem; 
    justify-content: center; 
    padding-top: 4rem; 
    width: 90%;
    margin: 0 auto;
}

.modulePickerBtn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(0.6rem, 2vw, 1.5rem);
    color: #cce6ff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
    height: 10vh;
    width: 10vw;
    min-width: 150px;
    border-radius: 0.75rem;
    border: 2px solid #005f80;
    background: linear-gradient(45deg, #007a9c, #00294f);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 200, 255, 0.6);
    transition: font-size 0.2s, box-shadow 0.3s, border 0.3s, background 0.3s;
}

.modulePickerBtn:hover {
    font-size: clamp(0.55rem, 1.9vw, 1.45rem);
    box-shadow: 0 0.4rem 0.6rem rgba(0, 200, 255, 0.7);
    border: 2.5px solid #0090b0;
    color: #e0f7ff;
    background: linear-gradient(45deg, #0090b0, #00335c);
}

.question-container {
    display: none;
    width: fit-content;
    max-width: min(90%, 60ch);
    height: fit-content;
    margin: 0 auto;
    padding: 0.7em 0.9em;
    background: linear-gradient(45deg, #1a2a40, #0b1220);
    color: #cce6ff;
    text-shadow: 0.1rem 0.1rem 0.3rem #001f33;
    font-size: clamp(0.6rem, 0.9vw, 1rem);
    border-radius: 1.25rem;
}

.answers-container {
    margin-top: 2vh;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.answer-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(1rem, 1.6vw, 1.5rem);
    width: 90%;
    max-width: 40ch;
    height: fit-content;
    margin: 1.5%;
    padding: 0.7em 1em;
    line-height: 1.25;
    border: 1px solid linear-gradient(45deg, #038e9c, #046c9d);
    border-radius: 0.625rem;
    color: #fff9c4;
    background: linear-gradient(45deg, #038e9c, #046c9d);
    transition: 0.2s;
}

.answer-btn:hover {
    transform: scale(0.99);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 200, 255, 0.7);
    color: #00ffff;
    background: linear-gradient(45deg, #038e9c, #046c9d);
}

.next-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    width: 12.5rem;
    height: 4.6875rem;
    border-radius: 0.3125rem;
    background: linear-gradient(#038e9c, #046c9d);
    color: #fff9c4;
    transition: 0.2s;
}

.next-btn:hover {
    transform: scale(0.99);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 200, 255, 0.7);
    color: #00ffff;
    background: linear-gradient(45deg, #038e9c, #046c9d);
}

.score-box {
    position: fixed;
    bottom: 10vh;
    right: 2%;
    width: fit-content;
    height: auto;
    padding: 1.5%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.625rem;
    text-align: center;
}

.score {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    color: #e17614;
}

.points {
    text-decoration: underline;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    color: #e17614;
}

.correct {
    box-shadow: 0 0 2.5rem rgba(0, 200, 100, 0.8);
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 1000;
}

#user-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

#username-display {
    background-color: #002c55;
    color: #9f9e9e;
    font-weight: bold;
    padding: 2%;
    border: 2px solid #7e979f;
    border-radius: 10%;
}

#login-btn, #logout-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logout-btn {
    background-color: #f44336;
}

.gif-box {
    z-index: 10;
    position: fixed;
    bottom: 2vh;
    left: 2vw;
    width: 17vw;
    aspect-ratio: 1 / 1;       
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/static/gifs/neutral.gif');
}
